.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  color: var(--btn);
}

.title {
  font-size: 30px;
}

.desc {
  font-size: 10px;
  font-weight: 300;
}

.boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 10px;
}
.box h1 {
  color: var(--btn);
}

.imgContainer {
  flex: 1;
  position: relative;
}

.img {
  object-fit: contain;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}
