.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ImgContainers {
  width: 90%;
  height: 250px;
  position: relative;
}
.img {
  object-fit: cover;
}

.links {
  text-decoration: underline;
}
